# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\data\test_spark_write_es\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
